footer {
    background-color: #484848;
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
