body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
=======
      margin: 0;
      padding: 0;
      color: #484848;
      font-size: 14px;
      font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
      max-width: 1000px;
      margin: 30px auto;
>>>>>>> d3b35f93bed9791cdcedb60e62ac8291e45b3654
}
